@model SandwichListViewModel

@{
    ViewData["Title"] = "List";
}

<div>
    <h1>@Model.CurrentCategory</h1>
</div>

<div class="container">
    <div class="row">
        @foreach (var sandwich in Model.Sandwiches)
        {
            <partial name="_SandwichResume" for="@sandwich" />
        }
    </div>
</div>